dataset/images
dataset/little
dataset/eval_img
dataset/big

models/tps_persian_cdistnet
cdistnet/data/__pycache__
cdistnet/model/__pycache__
cdistnet/__pycache__/
output_predictions/
cdistnet/model/stage/__pycache__/
cdistnet/engine/__pycache__/
cdistnet/optim/__pycache__/
cdistnet/utils/__pycache__/
*.mdb
models/persian_cdistnet/
__pycache__/
digest.txt
.continue/docs/new-doc.yaml
models/tps_persian_cdistnet_128_36/20260105-09*
models/tps_persian_cdistnet_128_36/20260105-10:32/events.out.tfevents.1767596540.mohammadsaleh-ai-server
